html, body{
  margin:0;
  padding:0;
}
body{
  background-color:#BCB9AA;
}
.text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
  background-color: #605C48;
  position:absolute;
  width: 100%;
  height:31px;
  display: block;
  margin-right:auto;
  margin-left: auto;
  text-align: center;
}
.button1{
  border:none;
  background-color: #605C48;
  cursor: pointer;
  text-decoration: none;
}
.button2{
  border:none;
  background-color: #605C48;
  cursor: pointer;
  text-decoration: none;
}
.button3{
  border:none;
  background-color: #605C48;
  cursor: pointer;
  text-decoration: none;
}
.nav1{
  position: absolute;
  color:#BCB9AA;
  font-size: 151%;
  right:3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav2{
  position: absolute;
  color:#BCB9AA;
  font-size: 150%;
  right:12%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav3{
  position: absolute;
  color:#BCB9AA;
  font-size: 151%;
  right:20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h.style2{
  position: absolute;
  color:#605C48;
  font-size:300%;
  top:5%;
  margin-left: 3%;
}
.tbox{
  background-color:#78735a;
  position:absolute;
  top:30%;
  left:50%;
  width:35%;
  height:50%;
}
p.boxtext{
  position: absolute;
  left:28%;
  top:5%;
  justify-self: center;
  color: #BCB9AA;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lbox{
  background-color:#aba380;
  position:absolute;
  top:30%;
  left:20%;
  width:35%;
  height:32%;
}
p.ltext{
  position: absolute;
  right:35%;
  left:9%;
  top:3%;
  justify-self: center;
  color: #5c5845;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.boba{
  position:absolute;
  height:85%;
  width:auto;
  top:10%;
  left:38%;
}
.picholdert{
  position:absolute;
  background-color: #605C48;
  height: 40%;
  width: 100%;
  top:160%;
  justify-items: center;
}
.toppingsr{
  position: absolute;
  top:30%;
  left:3%;
  font-size: 200%;
  color: #BCB9AA;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.toppingsl{
  position: absolute;
  top:30%;
  right:3%;
  font-size: 200%;
  color: #BCB9AA;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a{
  position:absolute;
  height:48%;
  width:auto;
  top:25%;
  left:20%;
}
.b{
  position:absolute;
  height:80%;
  width:auto;
  top:10%;
  left:35%;
}
.c{
  position:absolute;
  height:70%;
  width:auto;
  top:15%;
  left:48%;
}
.d{
  position:absolute;
  height:80%;
  width:auto;
  top:12%;
  left:67%;
}
.picholderd{
  position:absolute;
  background-color: #aba380;
  height: 40%;
  width: 100%;
  top:110%;
  justify-items: center;
}
.drinksr{
  position: absolute;
  top:30%;
  left:3%;
  font-size: 200%;
  color: #4d4831;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.drinksl{
  position: absolute;
  top:30%;
  right:3%;
  font-size: 200%;
  color: #4d4831;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.e{
  position:absolute;
  height:80%;
  width:auto;
  top:10%;
  left:22%;
}
.f{
  position:absolute;
  height:80%;
  width:auto;
  top:10%;
  left:37%;
}
.g{
  position:absolute;
  height:80%;
  width:auto;
  top:10%;
  left:52%;
}
.h{
  position:absolute;
  height:80%;
  width:auto;
  top:10%;
  left:67%;
}
.info{
  position: absolute;
  height: 70%;
  width:100%;
  background-color: #aba380;
  top: 210%;
}
.infotitle{
  position: absolute;
  top:1%;
  left:50%;
  right:50%;
  justify-self: center;
  align-self: auto;
  color: #4d4831;
  font-size: 280%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p.infot{
  position: absolute;
  top:10%;
  left:10%;
  right:10%;
  justify-self: center;
  align-self: auto;
  color: #5c5845;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom{
  position: absolute;
  background-color: #605C48;
  height:11%;
  width:100%;
  top: 290%;
}
.copyright{
  position: absolute;
  top:10%;
  right:5%;
  color: #cdc492;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}